<h1>Entry for Round <%=h @entry.round.id %></h1>

<p>
  <b>Posted As:</b>
	<%= link_to @entry.user.name, @entry.user %>
</p>

<p>
  <b>Entry Name:</b>
  <%=h @entry.name %>
</p>

<p>
  <b>Entry Url:</b>
  <%= link_to @entry.url, @entry.url %>
</p>

<p>
	<b>Entry Status:</b>
	
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>