<p>
  <b>Name:</b>
  <%=h @entry.name %>
</p>

<p>
  <b>User:</b>
  <%=h @entry.user %>
</p>

<p>
  <b>Round:</b>
  <%=h @entry.round %>
</p>

<p>
  <b>Url:</b>
  <%=h @entry.url %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>