<h1>Listing entries</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Round</th>
    <th>Url</th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%=h entry.name %></td>
    <td><%=h entry.user.name %></td>
    <td><%=h entry.round.id %></td>
    <td><%= link_to entry.url, entry.url %></td>
    <td><%= link_to 'Show', [:admin, entry] %></td>
    <td><%= link_to 'Edit', edit_admin_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', [:admin, entry], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New entry', new_admin_entry_path %>